body {
  color: #001B59;
  background: #e4fdff;
  text-align: left;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px; }
  body h1 {
    color: #001B59;
    margin-top: 20px;
    margin-bottom: 25px; }
  body h2 {
    color: #001B59;
    margin-top: 20px;
    margin-bottom: 20px; }
  body h3 {
    color: #001B59;
    margin-top: 15px;
    margin-bottom: 10px; }
  body p {
    color: #001B59;
    padding-right: 30px; }
  body ul {
    list-style-type: square; }
  body a {
    text-decoration: underline; }
    body a:hover {
      color: white;
      font-weight: bolder;
      background-color: pink;
      padding: 5px 5px 5px 5px; }
