$background-color: #e4fdff;
$text-color: #001B59;

body {
  color: $text-color;
  background: $background-color;
  text-align: left;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;

  h1 {
    color: $text-color;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  h2 {
    color: $text-color;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h3 {
    color: $text-color;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  p {
    color: $text-color;
    padding-right: 30px;
  }

  ul {
      list-style-type: square;
  }

  a {
    text-decoration: underline;
    &:hover {
      color: white;
      font-weight: bolder;
      background-color: pink;
      padding: 5px 5px 5px 5px;
    }
  }
}
